.main {
     display: flex;
     height: 100vh;
   }
   
   .welcome-image {
     width: 81vh;
     height: auto;
   }
   
   .container {
     margin-left: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 90%;
     font-family: "Inter", sans-serif;
   }
   
   .bold {
     font-size: 18px;
     font-weight: bold;
     color: #454d54;
   }
   
   .light {
     font-size: 13px;
     font-weight: 500;
     color: #5f6464;
   }
   
   .button {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 20px;
     background-color: #eb1f6a;
     color: white;
     border: none;
     border-radius: 20px;
     font-size: 16px;
     cursor: pointer;
     margin-top: 15px;
   }
   
   .button:hover {
     background-color: #af154e;
   }
   